In [22]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [11]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [12]:
pd.merge(df1, df2, on='city')

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [15]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [16]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [17]:
pd.merge(df1, df2, on='city', how='inner')

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [18]:
pd.merge(df1, df2, on='city', how='outer')

        city  temperature  humidity
0   new york         21.0      68.0
1    chicago         14.0      65.0
2    orlando         35.0       NaN
3  baltimore         38.0       NaN
4  san diego          NaN      71.0

In [19]:
pd.merge(df1, df2, on='city', )

KeyError: 'full'

In [ ]:
df['windtemp'] = df['windspeed']+ df['temperature']

In [24]:
df = pd.read_csv('datasets/ted_data.csv')

 Volume in drive C has no label.
 Volume Serial Number is A687-A406

 Directory of C:\Users\Dell\Data Science-Sanchit\Notes

08/28/2021  04:02 PM    <DIR>          .
08/28/2021  04:02 PM    <DIR>          ..
08/28/2021  12:27 PM    <DIR>          .ipynb_checkpoints
08/11/2021  08:08 AM    <DIR>          __pycache__
07/10/2021  04:52 PM             9,362 1. Git and Git Bash.ipynb
08/08/2021  08:37 AM             8,446 10. Loops- For, While, if, else, elif, break, continue.ipynb
08/10/2021  07:23 AM            22,131 11. Functions.ipynb
08/10/2021  09:22 AM             7,564 12. Iterators and generators.ipynb
08/11/2021  08:14 AM            11,289 13. Modules.ipynb
08/11/2021  10:49 PM            22,789 14. File Handling.ipynb
08/12/2021  09:47 PM             9,598 15. Exceptional Handling.ipynb
08/25/2021  06:55 AM            40,914 16. Regular Expression - Regex.ipynb
08/26/2021  11:29 PM            49,910 17. Numpy.ipynb
08/28/2021  02:04 PM            73,147 18. Pandas.ipynb
07/27/2021  09:32 PM             9,986 2. Python Components, Data types and Types of Operator.ipynb
08/05/2021  12:31 PM            10,413 3. Integers.ipynb
07/20/2021  10:18 PM             3,200 4. Float, Complex, None and Boolean.ipynb
08/14/2021  11:43 AM            39,320 5. Strings.ipynb
08/03/2021  01:21 PM            20,813 6. List.ipynb
07/30/2021  04:15 PM             8,784 7. Tuple.ipynb
08/28/2021  09:49 AM            22,029 8. Dictionary.ipynb
07/30/2021  10:24 PM             2,701 9. Set.ipynb
08/11/2021  08:55 PM                28 abc.txt
06/18/2021  10:00 PM            59,578 caduceus.jpg
08/26/2021  10:08 PM    <DIR>          datasets
08/11/2021  09:55 PM                64 file1.txt
08/11/2021  10:15 PM                50 file2.txt
08/03/2021  12:30 PM            16,559 Funtion and etc.ipynb
08/10/2021  11:33 PM               790 my_module.py
08/11/2021  10:43 PM            59,578 new.png
08/17/2021  11:15 PM               359 regex.txt
08/28/2021  04:02 PM            30,767 Rough-2.ipynb
08/11/2021  10:23 PM               594 write.txt
              28 File(s)        540,763 bytes
               5 Dir(s)  368,302,936,064 bytes free

In [29]:
import pandas as pd
df = pd.read_csv('c:/Users/Dell/Data Science-Sanchit/ted_data1.csv')
df

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265
2,David Pogue,Technology columnist,Simplicity sells,1636292,124
3,Majora Carter,Activist for environmental justice,Greening the ghetto,1697550,200
4,Hans Rosling,Global health expert; data visionary,The best stats you've ever seen,12005869,593
5,Tony Robbins,Life coach; expert in leadership psychology,Why we do what we do,20685401,672
6,Julia Sweeney,"Actor, comedian, playwright",Letting go of God,3769987,919
7,Joshua Prince-Ramus,Architect,Behind the design of Seattle's library,967741,46
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [28]:
import pandas as pd
df = pd.read_csv("/c/Users/Dell/Data Science-Sanchit/ted_data1.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: '/c/Users/Dell/Data Science-Sanchit/ted_data1.csv'

In [1]:
pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\dell\anaconda3\lib\site-packages (3.0.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.6.2)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (5.4.1)
Requirement already satisfied: visions[type_image_path]==0.7.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.7.1)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.11.1)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (3.3.4)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: requests>=2.24.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (2.25.1)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (4.59.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: phik>=0.11.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.20.1)
Requirement already satisfied: missingno>=0.4.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas-profiling) (1.2.4)
Requirement already satisfied: multimethod==1.4 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: networkx>=2.4 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.5)
Requirement already satisfied: bottleneck in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.3.2)
Requirement already satisfied: attrs>=19.3.0 in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (20.3.0)
Requirement already satisfied: Pillow in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (8.2.0)
Requirement already satisfied: imagehash in c:\users\dell\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (4.2.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.1)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\dell\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas-profiling) (5.0.6)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\dell\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: PyWavelets in c:\users\dell\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
This group aims to help people in DS, ML, DL
1.) Data Science 2.) ML 3.) Competitive programming 4.) DL 5.) Articles 6.) Jobs 7.) Projects 8.) Blogs
https://t.me/datasciencetech

In [1]:
lst = [(1,2), (3,4)]
for i, k in lst:
    print(i, '*', k)

1 * 2
3 * 4

In [ ]:
capitalize, title, upper, lower, swapcase, casefold, isalpha, isalnum, isnumeric, isidentifier, isprintable, isspace,
split, join, count, replace, find, rfind, index, rindex,startswith, endswith, center, rjust, ljust, zfill, splitlines,
strip, lstrip, rstrip,

In [ ]:
append, extend, insert, pop, remove, clear, copy, deepcopy, sort, count, index, reverse